@CHARSET "UTF-8";
*{
	font-family: 맑은 고딕,돋움,arial;
	font-weight: bold;
}

li{
	font-size:8px;
	font-weight: normal;
}

th
{
	border-bottom: 1px solid #d6d6d6;
	width: 30px;
	height: 30px;
}

td{
	width: 30px;
	height: 30px;
} 

tr:nth-child(even)
{
	background:#e9e9e9;
}

.ball1{
	background : url('../images/ball/ball1.png') no-repeat;
	width: 30px;
	height: 30px;
	padding-top: 3px;
	margin: 0px;
	text-align: center;
	color: white;
	background-size : 30px;
}
.ball2{
	background : url('../images/ball/ball2.png') no-repeat;
	width: 30px;
	height: 30px;
	padding-top: 3px;
	margin: 0px;
	text-align: center;
	color: white;
	background-size : 30px;
}
.ball3{
	background : url('../images/ball/ball3.png') no-repeat;
	width: 30px;
	height: 30px;
	padding-top: 3px;
	margin: 0px;
	text-align: center;
	color: white;
	background-size : 30px;
}
.ball4{
	background : url('../images/ball/ball4.png') no-repeat;
	width: 30px;
	height: 30px;
	padding-top: 3px;
	margin: 0px;
	text-align: center;
	color: white;
	background-size : 30px;
}
.ball5{
	background : url('../images/ball/ball5.png') no-repeat;
	width: 30px;
	height: 30px;
	padding-top: 3px;
	margin: 0px;
	text-align: center;
	color: white;
	background-size : 30px;
}

.noMatch{
	opacity: 0.1;
}

.ui-grid-h > .ui-block-a,.ui-grid-h > .ui-block-b,.ui-grid-h > .ui-block-c,.ui-grid-h > .ui-block-d,.ui-grid-h > .ui-block-e,.ui-grid-h > .ui-block-f,.ui-grid-h > .ui-block-g,.ui-grid-h > .ui-block-h{
	width : 12%;
}

.ui-block-e, .ui-block-f, .ui-block-g, .ui-block-h{
margin: 0;
padding: 0;
border: 0;
float: left;
min-height: 1px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.ui-block-h{
	clear : left;
}
